@model FishMap.Web.ViewModels.FishSpecies.FishSpeciesListViewModel
@{
    ViewData["Title"] = "All";
}

<h1 class="h1 text-center pt-3">Видовете риби в България</h1>
<hr class="alert-info" />
<div class="row">
    @foreach (var fishSpecies in this.Model.FishSpecies)
    {
        <div class="card col-md-4">
            <img class="card-img-top rounded img-fluid" src="@fishSpecies.ImageUri" height="190" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@fishSpecies.Name</h5>
                <p class="card-text">@(fishSpecies.Descripton.Split(".")[0] + "...")</p>
                <a href="#" class="btn btn-primary">Повече информация</a>
            </div>
        </div>
    }
</div>
<hr class="alert-info" />
<partial name="_PagingPartial" model="@Model" />
<br>



