@using System
@model FishMap.Web.ViewModels.Fish.CreateFishListInputModel
@{
    ViewData["Title"] = "Добавяне на риби";
    var fishSpeciesItems = this.Model.FishSpeciesItems.Select(x => new SelectListItem(x.Name, x.Id));
}
    <div>
        <h1 class="justify-content-center">@this.ViewData["Title"]</h1>
        <form class="row mb-5 mb-md-0" method="post">
            @for (int i = 0; i < (int)this.ViewData["FishCount"]; i++)
            {
                <div class="row">
                    @*<div class="form-group">
                        <label asp-for="FishInputModel.Images"></label>
                        <input asp-for="FishInputModel.Images" name="Fish[@i].Images" class="form-control" />
                        <span asp-validation-for="FishInputModel.Images" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="FishInputModel.WeightInKilos"></label>
                        <input type="number" min="0" max="100" asp-for="FishInputModel.WeightInKilos" name="Fish[@i].WeightInKilos" class="form-control" />
                        <span asp-validation-for="FishInputModel.WeightInKilos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FishInputModel.LengthInCentimeters"></label>
                        <input type="number" min="0" max="100" asp-for="FishInputModel.LengthInCentimeters" name="Fish[@i].LengthInCentimeters" class="form-control" />
                        <span asp-validation-for="FishInputModel.LengthInCentimeters" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FishInputModel.FishSpeciesId"></label>
                        <select name="Fish[@i].FishSpeciesId" asp-for="FishInputModel.FishSpeciesId" class="form-control" asp-items="fishSpeciesItems"></select>
                        <span asp-validation-for="FishInputModel.FishSpeciesId" class="text-danger"></span>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">Добавяне на риби към излета</button>
        </form>
    </div>
    

