@using FishMap.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form class="form-group col-4" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
    <input class="form-control" type="file" name="files" multiple />
    <button class="btn btn-primary" type="submit" value="">Submit</button>
</form>
